<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
</head>
<body>
    <div class="logincontainer" style="display:flex;justify-content:center;align-items:center;flex-direction: column;">
        <div class="loginclass">
            <h2>Log In</h2>
            <form method="post" class="loginform">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>