{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="logincontainer">
        <div class="loginclass">
            <h2>Log In</h2>
            <form method="post" class="loginform">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Log In</button>
                <p>Not registered yet?<a href="{% url 'signup' %}">Signup</a> here</p>
            </form>
        </div>
    </div>
{% endblock %}