{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="logincontainer">
        <div class="loginclass">
            <p style="text-align: center; font-size: 35px;">Welcome Back!</p>
            <form method="post" class="loginform">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn">
                    <button type="submit" class="loginbtn">Log In</button>
                </div>
                <div class="btm">
                    <p>Don't have an account? Create one <a href="{% url 'signup' %}">here.</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}