* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.nav {
    background-color: rgb(174, 0, 255);
    width: 100%;
    height: 200px;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -100px;
}

.chat-container {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 70%;
    border: 3px solid forestgreen;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
}

.side-panel {
    border-right: 2px solid red;
    padding: 8px;
}
.side-panel h3 {
    border: 1px solid rebeccapurple;
    padding: 10px;
    margin: 5px;
}

.chat-panel {
    display: grid;
    grid-template-rows: 6% 88% 8%;
    padding-bottom: 15px;
    max-height: -webkit-fill-available;
}

.header {
    width: 100%;
    background-color: aquamarine;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.msg {
    width: 100%;
    overflow-x: auto;
}

.left {
    border: 0.5px solid rgb(173, 171, 171);
    border-radius: 10px;
    border-top-left-radius: 0px;
    float: left;
    padding: 7px;
    max-width: 60%;
}

.right {
    border: 0.5px solid rgb(173, 171, 171);
    border-radius: 10px;
    border-top-right-radius: 0px;
    float: right;
    padding: 7px;
    max-width: 60%;
}

.header h2 {
    padding: 3px;
    color: red;
}

.chat-box {
    padding: 10px;
    overflow-y: scroll;
    border-bottom: 0.5px solid rgb(173, 171, 171);
}

.input {
    padding: 0.5em;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .main {
        position: absolute;
        top: 0px;
    }
    .chat-container {
        width: 100%;
        border-radius: 0;
    } 
}