* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.nav {
    background-color: #7700c7;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    width: 100%;
    height: 200px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 0.5px solid rgb(226, 222, 222);
    color: white;
}
.logo {
    font-size: 20px;
}

.detail a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -100px;
}

.chat-container {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 70%;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    height: 80vh;
    background-color: white;
}

.side-panel {
    border-right: 0.5px solid rgb(202, 201, 201);
}
.side-panel p {
    border-bottom: 1px solid rgba(208, 184, 233, 0.5);
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
}

.user-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 10%;
    border-bottom: 1px solid rgba(208, 184, 233, 0.8);
}

.user-detail img {
    width: 40px;
}

.active {
    background-color: rgb(251, 231, 253);
}

.chat-one {
    display: grid;
    grid-template-rows: 7% 85% 60px;
    max-height: -webkit-fill-available;
    height: 100%;
}

.header {
    width: 100%;
    background-color: white;
    height: 40px;
    text-align: center;
    border-bottom: 0.5px solid rgb(197, 195, 195);
}

.heading {
    font-size: 25px;
}

.left {
    border: 0.5px solid rgb(173, 171, 171);
    border-radius: 10px;
    border-top-left-radius: 0px;
    float: left;
    padding: 7px;
    max-width: 60%;
}

.right {
    border: 0.5px solid rgb(173, 171, 171);
    border-radius: 10px;
    border-top-right-radius: 0px;
    float: right;
    padding: 7px;
    max-width: 60%;
    background-color: blueviolet;
    color: white;
}

.header h2 {
    padding: 3px;
    color: red;
}

.chat-box {
    padding: 10px 30px;
    overflow-y: auto;
    border-bottom: 0.5px solid rgb(173, 171, 171);
    /* background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"); */
}


.msg {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 10px;
}

.logincontainer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.loginclass {
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    margin-top: 50px;
    background-color: transparent;
    backdrop-filter: blur(1.5px);
}

.loginclass p{
    font-size: 20px;
    letter-spacing: 2px;
}

.btn {
    margin-top: 30px;
    text-align: center;
}

.loginbtn {
    background: none;
    padding: 7px;
    font-size: 20px;
    border: 0.5px solid black;
    cursor: pointer;
}

.loginbtn:hover {
    color: rgb(156, 1, 245);
}

.signupform input, .loginform input {
    border: 0px;
    border-bottom: 0.5px solid rgb(188, 1, 245);
    width: 500px;
    margin: 10px;
    font-size: 25px;
    background: transparent;
    opacity: 0.6;
    color: rgb(32, 3, 32);
}

.signupform input:focus, .loginform input:focus {
    outline: none;
}

.btm p{
    margin-top: 30px;
    text-align: center;
}

.btm a {
    text-decoration: none;
    color: purple;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0px -2px 4px 0px rgba(110, 110, 110, 0.8);
}

.input img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: inset 0 0 5px grey; 
    transition: 0.5s ease;
}

.input img:hover {
    background-color: rgb(188, 1, 245);
}

.input input {
    height: 40px;
    border-radius: 20px;
    background: none;
    border: 0;
    width: 80%;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: inset 0 0 5px grey; 
}

.input input:focus, .input input:active {
    outline: none;
}

.chat-two {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0.3;
}

.resp-list {
    display: none;
}

.logout {
    display: none;
    text-align: center;
    border-bottom: 1px solid rgba(188, 1, 245, 0.6);
    padding: 10px;
}

.logout a {
    text-decoration: none;
}

.logout:hover {
    background-color: rgb(188, 1, 245);
}