{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'scroll.css' %}">
{% endblock style %}

{% block content %}
    <div class="main">
        <div class="chat-container" id="chat">
            <div class="side-panel" id="user-list">
                {% for friend in friends %}
                <h3 class="friend">{{ friend }}</h3>
                {% endfor %}
            </div>
            <div class="chat-panel">
                <div class="header">
                    <p class="heading">Select user to chat</p>
                </div>
                <div class="chat-box" id="chat-box">
                </div>
                <div class="input">
                    <input type="text" size="100" id="chat-message-input" >
                    <input id="chat-message-submit" type="button" value="Send">
                </div>
            </div>
        </div>
    </div>
        

    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
        let userList = $('#user-list');
        let chatHeading = $('.heading');
        $('.friend').click(function () {
            userList.children('.active').removeClass('active');
            let ele = event.target;
            $(ele).addClass('active');
            setCurrentRecipient(ele.innerHTML);
            removeChild();
            fetchMessages();
        })

        var recipient = '';
        function setCurrentRecipient(userName) {
            chatHeading[0].innerHTML = userName;
            recipient = userName;
        }

        
        var username = {{ username }};
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + 'room/'
        );

        chatSocket.onopen = function(e) {
            console.log("Connection Open");
        }


        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            if (data['command'] === 'messages') {
                for (let i=0; i<data['messages'].length; i++) {
                    createMessage(data['messages'][i]);
                }
                scrollDown();
            } else if (data['command'] === 'new_message'){
               createMessage(message);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message, 
                'command': 'new_message',
                'from': username,
                'to': recipient
            }));
            messageInputDom.value = '';
        };

        function fetchMessages() {
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages',
                'from': username,
                'to':recipient
                 }));
        }

        function removeChild(){
            var x = document.getElementById('chat-box');
            x.textContent='';
        }

        function scrollDown(){
            var objDiv = document.getElementById("chat-box");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        function createMessage(data) {
            var contact = data['contact'];
            var divtag = document.createElement('div');
            var innerdivtag = document.createElement('div');
            innerdivtag.textContent = data.content;
            if (contact === username) {
                innerdivtag.className = "right";
            } else {
                innerdivtag.className = 'left';
            }
            divtag.className = 'msg';
            divtag.appendChild(innerdivtag);
            document.querySelector('#chat-box').appendChild(divtag);
        }

    </script>
    <script src="{% static 'index.js' %}"></script>
{% endblock content %}