{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'scroll.css' %}">
{% endblock style %}

{% block content %}
    <div class="main">
        <div class="chat-container" id="chat">
            <div class="side-panel">
                {% for friend in friends %}
                <h3>{{ friend }}</h3>
                {% endfor %}
            </div>
            <div class="chat-panel">
                <div class="header">
                    <h2>Anand</h2>
                </div>
                <div class="chat-box" id="chat-box">
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                    <div class="msg">
                        <div class="left">Hii</div>
                    </div>
                    <div class="msg">
                        <div class="right">Hello</div>
                    </div>
                </div>
                <div class="input"> 
                    <form id="msg-form">
                        <input type="text" id="msg">
                        <button type="submit">Send </button>
                    </form>
                </div>
                 <!-- <div class="input">
                    <input id="chat-message-input" type="text" size="100">
                    <input id="chat-message-submit" type="button" value="Send">
                </div> -->
            </div>
        </div>
    </div>
        

    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
        var roomName = {{ room_name_json }};
        var username = {{ username }};
        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            fetchMessages();
        }


        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            if (data['command'] === 'messages') {
                for (let i=0; i<data['messages'].length; i++) {
                    createMessage(data['messages'][i]);
                }
            } else if (data['command'] === 'new_message'){
               createMessage(message);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message, 
                'command': 'new_message',
                'from': username
            }));
            messageInputDom.value = '';
        };

        function fetchMessages() {
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages'
                 }));
        }

        function createMessage(data) {
            var contact = data['contact'];
            var litag = document.createElement('li');
            var ptag = document.createElement('p');
            ptag.textContent = data.content;
            if (contact === username) {
                litag.className = "right";
                ptag.className = 'sent';
            } else {
                ptag.className = 'replies';
            }
            litag.appendChild(ptag);
            document.querySelector('#chatlist').appendChild(litag);
        }

    </script>
{% endblock content %}