
{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="logincontainer">
        <div class="loginclass">
            <p style="text-align: center; font-size: 35px;">Create Account</p>
            <form method="post" class="signupform">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn">
                    <button type="submit" class="loginbtn">Sign Up</button>
                </div>
                <div class="btm">
                    <p>Already have an account? Log in <a href="{% url 'login' %}">here.</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}